header{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(193, 144, 197);
}
 body{
    background-color: rgb(193, 144, 197);

 }
footer{
    text-align: center;
    background-color: rgb(193, 144, 197);
};

nav a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px 10px;
    padding: 0px 10px;
    color: rgb(193, 144, 197);
    text-decoration: none;
    text-align: right;
}
